{% extends 'main/base.html' %}

{% block content %}
{% load account %}
{% load socialaccount %}
{% if user.is_authenticated %}


<img src="{{user.socialaccount_set.all.0.get_avatar_url}}" class="img-fluid">


<h5>{{ first_name }} {{last_name}} вот 5 ваших друзей:</h5>

{% for friend in friends %}
<div class="alert alert-dark" role="alert">
    <img src="{{ friend.photo_200 }}" width="50">
    <a href="https://vk.com/id{{ friend.id }}" class="alert-link">{{ friend.first_name }} {{ friend.last_name }}</a>
</div>
{% endfor %}
{% endif %}


<form method="post" action="/accounts/logout/">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-dark">Выйти</button>
</form>


{% endblock %}